@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700|Roboto:300,400,700|Roboto+Condensed:300,400,700|Titillium+Web:300,400,600');

$kcus-gray: #898989;
$kcus-blue: #2386CC;
$bg-gray: #ededed;
$light-gray: #787878;
$font-stack: "Merriweather Sans", Helvetica, sans-serif;

a:visited, a:hover, a:link {
    text-decoration: none;
    color: inherit;
}

body {
	background: $bg-gray;
  font-family: $font-stack;
}

.font-weight-medium {
	font-weight: 400;
}

.highlight {
	color: $kcus-blue;
}

.nav-active {
	color: $kcus-blue;
	font-weight: 600;
}

.nav-title {
  font-family: "Titillium Web";
	font-weight: 400;
  &:hover {
    border-bottom: 0.2rem solid $kcus-blue;
  }
}

.staff-name {
	color: $kcus-blue;
	font-family: "Roboto Condensed";
	font-weight: 400;
	font-size: 1.3rem;
	line-height: 1.2;
}

.staff-title {
	font-family: "Roboto Condensed";
	font-weight: 400;
	color: $light-gray;
	font-size: 0.82rem;
	line-height: 1.1;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Firas wants a border radius but I don't
// .navbar {
// 	box-shadow: 0 0 0.75rem #e1e1e1;
// }
//
// #home-container {
// 	box-shadow: 0 0 0.75rem #e1e1e1;
// }

#contact-body {
  background-image: url("images/diag_r.png");
	background-repeat: no-repeat;
	background-position: center;
	a {
		color: $kcus-blue;
		&:hover{
			text-decoration: underline;
		}
	}
}

#footer {
  font-family: "Roboto";
	font-size: 0.8rem;
	color: $light-gray;
	a:hover {
		text-decoration: underline;
	}
}

#home-body {
  background-image: url("images/diag_lr.png");
	background-repeat: no-repeat;
	background-position: center;
}

#home-info {
  background-color: $kcus-gray;
	font-family: 'Roboto Condensed';
	font-size: 0.8em;
  color: #fff;
	a:hover {
		text-decoration: underline;
	}
	.info-item {
		max-width: 450px;
	}
}
