a:visited, a:hover, a:link {
  text-decoration: none;
  color: inherit;
}

body {
	background: #ebebeb;
  font-family: "Merriweather Sans", "Trebuchet MS", Helvetica, sans-serif;
}

.gray {
  background-color: #939598;
}

.nav-item {
  color: #000000;
  padding: 0 .5rem 0 .5rem;
  margin-top: 2%;
  font-weight: 400;
  font-family: "Titillium Web";
}

.navbar-nav a:hover {
  color: #000000;
}

.nav-title:hover {
	border-bottom: 0.2rem solid #4c81c0;
}

.nav-active {
	color: #4c81c0;
	font-weight: 700;
}

.navbar-nav a.nav-active:hover{
  color: #4c81c0;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content-home {
	font-weight: 300;
	text-align: center;
	padding-top: 2.4rem;
	padding-bottom: 2.4rem;
	padding-left: 15%;
	padding-right: 15%;
}

.content {
	font-weight: 300;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.space {
  margin-top: 1.5%;
}

#bg-home {
  background-image: url("images/diag_lr.png");
	background-repeat: no-repeat;
	background-position: center;
}

#bg-contact {
  background-image: url("images/diag_r.png");
	background-repeat: no-repeat;
	background-position: center;
}

#slogan {
	font-weight: 600;
	font-size: 150%;
	letter-spacing: .2rem;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 2%;
}

#blurbs{
	font-weight: 300;
	background: #939598;
	font-family: 'Roboto Condensed';
	font-weight: 300;
	display:table-cell;
	font-size:0.92em;
	color: #FFFFFF;
}

.bold {
	font-weight: 400;
}

.footer {
  font-family: "Titillium Web";
	font-size: 0.8rem;
	color: #787878;
}
