<div class="col-12 d-flex justify-content-between pb-1">
  <h2 class="font-weight-light text-uppercase text-blue">{{title}}</h2>
  <a class="spa-nav return-button align-self-center rounded text-point-87-rem" href="/projects">View all projects</a>
</div>

<div class="col-12 font-weight-light mb-2 mb-md-4">
  <div class="row">
    <h1>{{title}}</h1>
    <div class="col-12">
      {{description}}
    </div>
  </div>
</div>
