<div class="anchor-plain rounded font-weight-light pt-2 pb-2 mx-auto px-1 px-sm-3 mt-3 bg-white">

  <div class="row text-roboto mx-auto text-left pt-3 pl-3">
    <h2 class="font-weight-light text-uppercase" id="current-projects-header">
      <a href="#curr-proj-collapse" class="proj-page-header" data-toggle="collapse">
        <span class="text-blue">Current </span>
        <span class="text-gray">Projects </span>
        <i class="px-1 text-gray fas fa-caret-down"></i>
      </a>
    </h2>
  </div>
  <div class="collapse show" id="curr-proj-collapse">
    <div class="row mx-auto pt-2" id="current-projects"></div>
  </div>

  <div class="row text-roboto mx-auto text-left pl-3">
    <h2 class="font-weight-light text-uppercase" id="software-systems-header">
      <a href="#soft-sys-collapse" class="proj-page-header" data-toggle="collapse">
        <span class="text-blue">Software </span>
        <span class="text-gray">Systems </span>
        <i class="py-2 text-gray fas fa-caret-right"></i>
      </a>
    </h2>
  </div>
  <div class="collapse" id="soft-sys-collapse">
    <div class="row mx-auto pt-2" id="software-systems"></div>
  </div>

  <div class="row text-roboto mx-auto text-left pl-3">
    <h2 class="font-weight-light text-uppercase" id="transportation-planning-header">
      <a href="#trans-plan-collapse" class="proj-page-header" data-toggle="collapse">
        <span class="text-blue">Transportation </span>
        <span class="text-gray">Planning </span>
        <i class="py-2 text-gray fas fa-caret-right"></i>
      </a>
    </h2>
  </div>
  <div class="collapse" id="trans-plan-collapse">
    <div class="row mx-auto pt-2" id="transportation-planning"></div>
  </div>

</div>
