<div class="col-12 text-center text-md-left">
  <h2 class="font-weight-light text-uppercase pb-2">
    <span class="text-blue">Current </span>
    <span class="text-gray">Projects</span>
  </h2>
</div>
<div class="col-12">
  <div class="row anchor-plain" id="current-projects"></div>
</div>

<div class="col-12 text-center text-md-left">
  <h2 class="font-weight-light text-uppercase pb-2">
    <span class="text-blue">Software </span>
    <span class="text-gray">Systems</span>
  </h2>
</div>
<div class="col-12">
  <div class="row anchor-plain" id="software-systems"></div>
</div>

<div class="col-12 text-center text-md-left">
  <h2 class="font-weight-light text-uppercase pb-2">
    <span class="text-blue">Transportation </span>
    <span class="text-gray">Planning</span>
  </h2>
</div>
<div class="col-12 pb-1">
  <div class="row anchor-plain" id="transportation-planning"></div>
</div>
