<div class="row mx-auto anchor-plain">

  <div class="rounded col-12 font-weight-light pt-2 pb-2 px-1 px-sm-3 mt-3 bg-white" id="staff-thumbnails">
    <div class="row mx-auto text-roboto mx-auto text-left pt-3 pl-4">
      <h2 class="font-weight-light diplay-4 text-uppercase">
        <span class="text-blue">Our </span>
        <span class="text-gray">Team</span>
      </h2>
    </div>
    <div class="row mx-auto px-3 mt-2 text-center text-sm-left" id="staff-placeholder"></div>
  </div>

  <div class="d-none rounded font-weight-light pt-2 pb-2 mx-auto px-1 px-sm-3 mt-3 bg-white" id="staff-description"></div>

</div>
