// ----- navbar ------
.nav-active {
	color: $kcus-blue !important;
}

.nav-title {
  font-family: "Titillium Web", sans-serif;
	font-weight: 400;
  &:hover {
    border-bottom: 0.15rem solid $kcus-blue;
  }
}


// ---------- custom ----------
.blue-header {
	color: $kcus-blue;
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 400;
	font-size: 1.3rem;
	line-height: 1.2;
}

.gray-subheader {
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 400;
	color: $light-gray;
	font-size: 0.82rem;
}

.return-button {
	color: $kcus-gray;
	padding: 0.4rem;
	&:hover {
		text-decoration: none;
		color: $kcus-blue;
	}
}

.proj-img {
	border: 1px solid $kcus-gray;
	cursor: pointer;
	min-width: 0px;
	max-width: 120px;
}

.proj-img-selected {
	border-color: $kcus-blue;
	box-shadow: 0 0 3px 1px $kcus-blue;
}
