// ----- navbar ------
.nav-active {
	color: $kcus-blue !important;
}

.nav-title {
  font-family: "Roboto", sans-serif;
	font-weight: 400;
  &:hover {
    border-bottom: 0.15rem solid $kcus-blue;
  }
	font-size: 0.93rem;
}

.thumbnail-thinner-border {
	padding: 2px;
}


// ---------- custom ----------
.blue-header {
	color: $kcus-blue;
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 400;
	font-size: 1.3rem;
	line-height: 1.2;
}

.gray-subheader {
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 400;
	color: $light-gray;
	font-size: 0.82rem;
}

.return-button {
	color: $kcus-gray;
	padding: 0.4rem;
	&:hover {
		text-decoration: none;
		color: $kcus-blue;
	}
}

.proj-img {
	border: 1px solid #bbb;
	cursor: pointer;
	//max-width: 120px;
}

.proj-img-selected {
	border-color: lighten($kcus-blue, 20%);
	box-shadow: 0 0 2px 1px lighten($kcus-blue, 20%);
}
