@import url('https://fonts.googleapis.com/css?family=Roboto:300,400|Roboto+Condensed:300,400');
@import url("https://use.typekit.net/lmo4ogv.css");

.font-weight-medium {
	font-weight: 400;
}

.text-point-87-rem {
  font-size: 0.87rem;
}

.text-point-8-rem {
  font-size: 0.8rem;
}

.text-larger {
	font-size: 1.4rem;
}

.text-blue {
  color: $kcus-blue;
}

.text-gray {
  color: $kcus-gray;
}

.text-light-gray {
  color: $light-gray;
}

.text-roboto {
  font-family: "Roboto", sans-serif;
}

.text-freight-sans {
	font-family: "freight-sans-pro", sans-serif;
}

.text-roboto-cond {
  font-family: "Roboto Condensed", sans-serif;
}

.text-lora {
	font-family: "Lora", serif;
}
