// spacing
$bs-md-breakpoint: 768px;
$bs-sm-breakpoint: 576px;
$space-4-5: 2.0rem; // between bs 4 and 5 spacing

@media (min-width: $bs-sm-breakpoint) {
  .px-sm-4-5 {
    padding-right: $space-4-5 !important;
    padding-left: $space-4-5 !important;
  }
}

@media (min-width: $bs-md-breakpoint) {
  .pb-md-4-5 {
    padding-bottom: $space-4-5 !important;
  }
}

.pt-4-5 {
  padding-top: $space-4-5 !important;
}

// utils
.anchor-plain {
  a:visited, a:hover, a:link {
    text-decoration: none;
    color: inherit;
  }
}

.anchor-underline {
  a:hover {
    text-decoration: underline;
  }
}

.anchor-blue-underline {
  a:hover {
    color: $kcus-blue;
    text-decoration: underline;
  }
}

.blue-links {
  a {
    color: $kcus-blue;
    &:hover{
      text-decoration: underline;
    }
  }
}

.mw-870 {
  max-width: 870px;
}

.mw-310 {
  max-width: 310px;
}

.mw-155 {
  max-width: 155px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
