<div class="row mx-auto bg-img-diag-r rounded py-2 py-md-4 px-md-2">
  <div class="col-md text-md-right font-weight-light text-roboto pt-md-2">
    <address>
      <strong>Kanaan Consulting US, Inc.</strong><br>
      43 Thorndike Street, Suite S2-3<br>
      Cambridge, MA 02141<br>
      <abbr title="Phone">P:</abbr> (617) 945-7385
    </address>

    <p class="blue-links">
      <span class="font-weight-medium">Please direct all inquiries to</span>
      <a href="mailto:info@kcus.org">info@kcus.org</a>
    </p>
  </div>

  <div class="col-md pb-2 pb-md-0">
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d23582.30736282998!2d-71.09583756927601!3d42.36834816768316!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x49e5de4aae3787d6!2sKanaan+Consulting+US!5e0!3m2!1sen!2sus!4v151395926791"></iframe>
    </div>
  </div>
</div>
