<div class="col-12 px-3 px-sm-4 px-lg-5 py-4 bg-img-diag-lr text-merriweather rounded">
  <div class="text-center font-weight-light pt-3">
    <p>Kanaan Consulting US, Inc. is a Cambridge-based engineering company that offers comprehensive engineering and consulting services with a focus on multimodal transportation. We partner with our clients to move people and cargo more safely and efficiently by applying cutting-edge solutions and innovative yield management concepts.</p>
    <p class="font-weight-bold lead text-uppercase">comprehensive engineering and consulting services</p>
    <p>KCUS offers a unique combination of design, implementation, operations, and maintenance services to our clients. We specialize in solutions that integrate software, hardware, and usability to deliver better outcomes&mdash;whether through improved network throughput, increased yield, refined user experience, or a combination of these.</p>
    <p>KCUS was established in 2001. We are based in historical Bulfinch Square in Cambridge, MA.</p>
  </div>
</div>

<div class="col-12 rounded-bottom p-3 bg-kcus-gray d-sm-flex align-items-lg-center font-weight-light text-center text-lg-left text-point-8-rem text-roboto-cond text-light">
  {{#each infos}}
    <div class="col-md mx-auto">
      <div class="row align-items-center anchor-plain anchor-underline">
        <div class="col-lg pb-2 pb-lg-0 mw-310 mx-auto">
          <a href="{{path}}">
            <img class="img-thumbnail" src="{{imgSource}}" alt="{{imgName}}">
          </a>
        </div>
        <div class="col-lg pl-lg-0 pb-3 pb-sm-0">
          {{{descriptionHTML}}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
