<div class="rounded-top px-3 px-sm-4-5 py-3 py-md-4 bg-white bg-img-diag-lr text-roboto">
  <div class="font-weight-light mw-870">
    <p><span class="font-weight-medium">Kanaan Consulting US, Inc.</span> is a Cambridge-based engineering company that offers <span class="font-weight-medium">comprehensive engineering and consulting services</span> with a focus on multimodal transportation. We partner with our clients to move people and cargo more safely and efficiently by applying cutting-edge solutions and innovative yield management concepts.</p>
    <p><span class="font-weight-medium">KCUS</span> offers a unique combination of design, implementation, operations, and maintenance services to our clients. We specialize in solutions that <span class="font-weight-medium">integrate software, hardware, and usability</span> to deliver better outcomes&mdash;whether through improved network throughput, increased yield, refined user experience, or a combination of these.</p>
    <p>We take pride in our agility, which manifests in our ability to efficiently mobilize the right team to expediently and effectively respond to new tasks and challenges.</p>
    <p class="mb-1"><span class="font-weight-medium">KCUS</span> was established in 2001. We are based in historical Bulfinch Square in Cambridge, MA.</p>
  </div>
</div>

<div class="rounded-bottom bg-kcus-gray p-3 font-weight-light text-center text-lg-left text-point-8-rem text-roboto-cond text-light d-sm-flex align-items-lg-center">
  {{#each infos}}
    <div class="col-md mx-auto">
      <div class="row align-items-center anchor-plain anchor-underline">
        <div class="col-lg pb-2 pb-lg-0 mw-310 mx-auto">
          <a href="{{path}}">
            <div class="img-placeholder-3-2">
              <img class="placed-img img-thumbnail thumbnail-thinner-border" src="{{imgSource}}" alt="{{imgName}}">
            </div>
          </a>
        </div>
        <div class="col-lg pl-lg-0 {{#unless @last}}pb-3{{/unless}} pb-sm-0">
          {{{descriptionHTML}}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
