<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--THIS IS NOT SQUARESPACE-->
  <head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <title>Kanaan Consulting US - Home</title>
     <link rel="icon" href="../favicons/kcus-16.png" type="image/png" />
     <link rel="stylesheet" href="../style_backup4.css" type="text/css" />
     <link rel="stylesheet" href="../style_project.css" type="text/css" />
     <link rel="stylesheet" href="../demo-slideshow.css" type="text/css" />
     <script src="../jquery-1.11.0.min.js"></script>
     <script src="../js/cycle2.js"></script>
     <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700|Playfair+Display|Titillium+Web:400,300|Merriweather+Sans:400,300|Roboto+Condensed:300,400,700|BenchNine:300' rel='stylesheet' type='text/css'>
  </head>

  <body>
     <div class="banner">
      <div id="logofloat"><img src="../images/kcus_logo_clear.png" width="100%" height="100%"></div>
      <div id="centeringdiv"></div>
      <div id="navigation">
        <div class="nav"><a href="../index.html">Home</a></div>
        <!-- <div class="nav"><a href="../services.html">Services</a></div> -->
        <div class="nav"><a href="../staff.html">Staff</a></div>
        <div class="nav"><a href="../projects.html">Projects</a></div>
        <div class="nav"><a href="../contact.html">Contact</a></div>
      </div>
    </div>

    <div id="content_projects" class="main_page">   
      <div class="projname">Integrated Transportation Management System (ITMS) <!-- Detailed Design <br /> and System Implementation Support --></div>
      <!-- <div class="cols"> -->
        
        <div class="cycle-slideshow" 
            data-cycle-fx="scrollHorz"
            data-cycle-speed="1000"
            data-cycle-timeout="7000"
            data-cycle-next="#next"
            data-cycle-manual-fx="scrollHorz"
            data-cycle-manual-speed="200"
            style="overflow: auto;"
        >
            <img src="../images/projects/itms_l4.jpg">
            <img src="../images/projects/itms_l1.jpg">
            <img src="../images/projects/itms_l2.jpg">
            <img src="../images/projects/itms_l3.jpg">
        </div>

      <!-- </div> -->
      <div class ="projinfo">
        <p><span class="projlabel">Client&nbsp;</span><span class="projclient">MassDOT&nbsp;&nbsp;&nbsp;</span>
        <span class="projlabel">Location&nbsp;</span><span class="projlocation">Massachusetts&nbsp;&nbsp;&nbsp;</span>
        <span class="projlabel">Duration&nbsp;</span><span class="projtime">2015 - 2020&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span><img onclick ="prev_pic()" id="prev_img" src="../images/cycle_prev.jpg"></span>
        <span><img onclick ="pause_pic()" id="pause_img" src="../images/cycle_pause.jpg"></span>
        <span><img onclick ="next_pic()" id="next_img" src="../images/cycle_next.jpg"></span>
        </p>
        <!-- <div class="cols"> -->
          
        <!-- </div> -->
      </div>
      <div class="p-text">
        <div id="p-spacing">KCUS is assisting the Massachusetts Department of Transportation (MassDOT) in the detailed design and implementation process for a new Integrated Transportation Management System (ITMS) to be deployed at MassDOT's Highway Operations Center (HOC). This software is being developed based on the Advanced Traffic Management System (ATMS)/Advanced Traveler Information System (ATIS) and Integrated Project Control System (IPCS)/Supervisory Control and Data Acquisition (SCADA) design documentation that was produced by KCUS. KCUS is providing technical support and design services to MassDOT and is working with the selected ITMS vendor throughout the detailed design and implementation of the ITMS. KCUS will also assist MassDOT in the testing, verification, and validation of the new ITMS platform.</div>

        <div id="p-spacing">As part of this project, KCUS is also collaborating with MassDOT Legal to develop a contract that details the terms and conditions, the format of the acquisition, and the phasing of the project. This process will lead to the signing of the final contract for the acquisition and phased deployment of the ITMS platform.</div> 
      </div>
      <div id="little-gap"></div>
    </div>
    <footer class="site-footer">
      <div class="footer-left">
        <p><a href="mailto:info@kcus.org" class="mail"><strong>info@kcus.org</strong></a></p>
        <p>t: 617-945-7385</p>
      </div>
      <div class="footer-right">
        <p>43 Thorndike Street</p>
        <p> Suite S2-3</p>
        <p>Cambridge, MA 02141</p>
      </div>
    </footer>           
  </body>
</html>
       