<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--THIS IS NOT SQUARESPACE-->
  <head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <title>Kanaan Consulting US - Home</title>
     <link rel="icon" href="../favicons/kcus-16.png" type="image/png" />
     <link rel="stylesheet" href="../style_backup4.css" type="text/css" />
     <link rel="stylesheet" href="../style_project.css" type="text/css" />
     <link rel="stylesheet" href="../demo-slideshow.css" type="text/css" />
     <script src="../jquery-1.11.0.min.js"></script>
     <script src="../js/cycle2.js"></script>
     <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700|Playfair+Display|Titillium+Web:400,300|Merriweather+Sans:400,300|Roboto+Condensed:300,400,700|BenchNine:300' rel='stylesheet' type='text/css'>
  </head>

  <body>
     <div class="banner">
      <div id="logofloat"><img src="../images/kcus_logo_clear.png" width="100%" height="100%"></div>
      <div id="centeringdiv"></div>
      <div id="navigation">
        <div class="nav"><a href="../index.html">Home</a></div>
        <!-- <div class="nav"><a href="../services.html">Services</a></div> -->
        <div class="nav"><a href="../staff.html">Staff</a></div>
        <div class="nav"><a href="../projects.html">Projects</a></div>
        <div class="nav"><a href="../contact.html">Contact</a></div>
      </div>
    </div>

    <div id="content_projects" class="main_page">   
      <div class="projname">I-495 ITS Concept of Operations</div>
<!--       <div class="cycle-slideshow" 
          data-cycle-fx="scrollHorz"
          data-cycle-speed="1000"
          data-cycle-timeout="4000"
          data-cycle-next="#next"
          data-cycle-manual-fx="scrollHorz"
          data-cycle-manual-speed="200"
          style="overflow: auto;"
          >
          <img src="../images/projects/its_conops_s.png">
      </div> -->
      <div class ="projinfo">
        <p><span class="projlabel">Client&nbsp;</span><span class="projclient">MassDOT&nbsp;&nbsp;&nbsp;</span>
        <span class="projlabel">Location&nbsp;</span><span class="projlocation">Masachusetts&nbsp;&nbsp;&nbsp;</span>
        <span class="projlabel">Duration&nbsp;</span><span class="projtime">2012 - 2013&nbsp;&nbsp;&nbsp;</span>
        </p>
      </div>
      <div class="p-text">
        <div id="p-spacing">KCUS developed the ITS Concept of Operations (ConOps) and System Requirements Specification (SyRS) for the I-495 ITS deployment.</div>
        <div id="p-spacing">KCUS conducted interviews and meetings with the projects’ stakeholders to gather critical information on the systems’ existing condition, objectives and priorities, and operational needs. The documents adhered to the FHWA Systems Engineering Process. <!-- and included the development of a Traceability Matrix, which will allow future stages of the systems to be traced back to the needs and requirements identified by the stakeholders. --></div>
        <div id="p-spacing">The project also included the development of ConOps and SyRS templates that can be used by MassDOT for the implementation of similar systems in the future. The templates provide customizable outlines for the three types of systems, including a list of common considerations and MassDOT standards.</div> 
      </div>
      <div id="little-gap"></div>
    </div>
    <footer class="site-footer">
      <div class="footer-left">
        <p><a href="mailto:info@kcus.org" class="mail"><strong>info@kcus.org</strong></a></p>
        <p>t: 617-945-7385</p>
      </div>
      <div class="footer-right">
        <p>43 Thorndike Street</p>
        <p> Suite S2-3</p>
        <p>Cambridge, MA 02141</p>
      </div>
    </footer>           
  </body>
</html>
       