{{#each infos}}
  <div class="col-lg mw-450 mx-auto">
    <div class="row align-items-center">
      <div class="col-lg pb-2 pb-lg-0">
        <a href="{{hash}}">
          <img class="img-thumbnail" src="{{img-src}}" alt="{{img-name}}">
        </a>
      </div>
      <div class="col-lg pl-lg-0 pb-4 pb-lg-0">
        {{{description}}}
      </div>
    </div>
  </div>
{{/each}}
