
<div class="popupname">Firas Said</div>
<div class="popuptitle">Lead Systems Engineer</div>
<div class="p-text">
  <div id="p-spacing">Mr. Said is an engineer with extensive experience in automation and software system design and architecture. He has comprehensive knowledge of and experience with software-based automation and control systems.  </div>

  <div id="p-spacing">Mr. Said has participated in teams that have tackled multiple projects for the Massachusetts Department of Transportation, including maintaining the Interstate 93 Real Time Traffic Management system and developing related software, along with drafting Concepts of Operations documents for multiple MassDOT projects. In addition to roadway-centric ITS experience, Mr. Said has worked on the design and implementation of software-based automation and control systems in port container terminal environments.</div>

  <div id="p-spacing">He has a Bachelor of Science degree in Mechanical Engineering from Tufts University.  </div>
</div>
<div id="little-gap"></div>
